/* ========== General document style ========== */
body {
    font-family      : monospace;
    
    color            : #393;
    background-color : black;
}

/* ============ Page header styles ============ */
#header {
    position         : absolute;
    top              : 0;
    left             : 0;
    width            : 100vw;
    height           : 4rem;
    
    background-color : #030;
    
    border-bottom    : .1rem solid;
}

#main_title {
    font-size   : 200%;
    
    margin-top  : 1rem;
    margin-left : .5rem;
}

/* =============== Ladder styles =============== */
#left_column {
    position     : absolute;
    top          : 4rem;
    left         : 0;
    width        : 15rem;
    height       : calc(100vh - 4rem);
    
    overflow-y   : auto;
    
    border-right : .1rem solid;
}

#ladder {
    font-size  : 120%;
    
    margin-top  : .5rem;
    margin-left : .3rem;
}

#ladder > caption {
    font-size        : 120%;
    font-weight      : normal;
    
    text-align       : center;
}

#ladder th {
    font-weight     : normal;
    
    text-align      : left;
    text-decoration : underline;
    
    padding-left    : .3rem;
    
    border-right    : .1rem solid;
}
#ladder th:last-child {
    border-right : none;
}

#ladder td {
    padding-left  : .3rem;
    padding-right : .3rem;
    
    border-right  : .1rem solid;
}
#ladder td:last-child {
    border-right : none;
}

#ladder tbody > tr:hover {
    background-color : #030;
}

/* ============== Console styles =============== */
#console {
    position    : absolute;
    top         : 4rem;
    left        : 15rem;
    width       : calc(100vw - 15rem);
    height      : calc(100vh - 4rem);
    
    overflow-y  : scroll;
}

#console > pre {
    margin-top    : 0;
    margin-bottom : 0;
    padding-left  : .5rem;
}

#console > pre:first-child {
    margin-top : .5em;
}

/* =========== Match viewer styles ============= */
.console-window {
    position          : absolute;
    top               : 10vh;
    left              : 10vw;
    width             : 80vw;
    height            : 80vh;
    
    z-index           : 3000;
    
    background-color  : black;
    
    border-color      : #393;
    border-width      : .2rem;
    border-style      : solid;
}

.console-window.console-window-enter {
    top    : 45vh; 
    left   : 45vw; 
    width  : 10vw; 
    height : 10vh;
}

.console-window-enter.console-window-enter-active {
    animation         : open-win 1s linear;
    -webkit-animation : open-win 1s linear;
    -moz-animation    : open-win 1s linear;
    -o-animation      : open-win 1s linear;
}

@keyframes open-win {
    0%   { top : 45vh; left : 45vw; width : 10vw; height : 10vh; }
    25%  { top : 40vh; left : 40vw; width : 20vw; height : 20vh; }
    50%  { top : 30vh; left : 30vw; width : 40vw; height : 40vh; }
    75%  { top : 20vh; left : 20vw; width : 60vw; height : 60vh; }
    100% { top : 10vh; left : 10vw; width : 80vw; height : 80vh; }
}

@-webkit-keyframes open-win {
    0%   { top : 45vh; left : 45vw; width : 10vw; height : 10vh; }
    25%  { top : 40vh; left : 40vw; width : 20vw; height : 20vh; }
    50%  { top : 30vh; left : 30vw; width : 40vw; height : 40vh; }
    75%  { top : 20vh; left : 20vw; width : 60vw; height : 60vh; }
    100% { top : 10vh; left : 10vw; width : 80vw; height : 80vh; }
}

@-moz-keyframes open-win {
    0%   { top : 45vh; left : 45vw; width : 10vw; height : 10vh; }
    25%  { top : 40vh; left : 40vw; width : 20vw; height : 20vh; }
    50%  { top : 30vh; left : 30vw; width : 40vw; height : 40vh; }
    75%  { top : 20vh; left : 20vw; width : 60vw; height : 60vh; }
    100% { top : 10vh; left : 10vw; width : 80vw; height : 80vh; }
}

@-o-keyframes open-win {
    0%   { top : 45vh; left : 45vw; width : 10vw; height : 10vh; }
    25%  { top : 40vh; left : 40vw; width : 20vw; height : 20vh; }
    50%  { top : 30vh; left : 30vw; width : 40vw; height : 40vh; }
    75%  { top : 20vh; left : 20vw; width : 60vw; height : 60vh; }
    100% { top : 10vh; left : 10vw; width : 80vw; height : 80vh; }
}

.console-window.console-window-leave {
    top    : 45vh; 
    left   : 45vw; 
    width  : 10vw; 
    height : 10vh;
}

.console-window-leave.console-window-leave-active {
    animation         : close-win 1s linear;
    -webkit-animation : close-win 1s linear;
    -moz-animation    : close-win 1s linear;
    -o-animation      : close-win 1s linear;
}

@keyframes close-win {
    0%    { top : 10vh; left : 10vw; width : 80vw; height : 80vh; }
    25%   { top : 20vh; left : 20vw; width : 60vw; height : 60vh; }
    50%   { top : 30vh; left : 30vw; width : 40vw; height : 40vh; }
    75%   { top : 40vh; left : 40vw; width : 20vw; height : 20vh; }
    1000% { top : 45vh; left : 45vw; width : 10vw; height : 10vh; }
}

@-webkit-keyframes close-win {
    0%    { top : 10vh; left : 10vw; width : 80vw; height : 80vh; }
    25%   { top : 20vh; left : 20vw; width : 60vw; height : 60vh; }
    50%   { top : 30vh; left : 30vw; width : 40vw; height : 40vh; }
    75%   { top : 40vh; left : 40vw; width : 20vw; height : 20vh; }
    1000% { top : 45vh; left : 45vw; width : 10vw; height : 10vh; }
}

@-moz-keyframes close-win {
    0%    { top : 10vh; left : 10vw; width : 80vw; height : 80vh; }
    25%   { top : 20vh; left : 20vw; width : 60vw; height : 60vh; }
    50%   { top : 30vh; left : 30vw; width : 40vw; height : 40vh; }
    75%   { top : 40vh; left : 40vw; width : 20vw; height : 20vh; }
    1000% { top : 45vh; left : 45vw; width : 10vw; height : 10vh; }
}

@-o-keyframes close-win {
    0%    { top : 10vh; left : 10vw; width : 80vw; height : 80vh; }
    25%   { top : 20vh; left : 20vw; width : 60vw; height : 60vh; }
    50%   { top : 30vh; left : 30vw; width : 40vw; height : 40vh; }
    75%   { top : 40vh; left : 40vw; width : 20vw; height : 20vh; }
    1000% { top : 45vh; left : 45vw; width : 10vw; height : 10vh; }
}

.console-window-header {
    position            : absolute;
    top                 : 0;
    left                : 0;
    right               : 0;
    height              : 1.1rem;
    
    background-color    : #030;
    
    border-bottom-color : #393;
    border-bottom-width : .1rem;
    border-bottom-style : solid;
    
    font-size           : 120%;
    font-style          : italic;
    
    text-align          : center;
}

.console-window-close-button {
    position            : absolute;
    top                 : 0;
    right               : 0;
    width               : 1rem;
    height              : 1.1rem;
    
    background-color    : black;
    
    border-left-color   : #393;
    border-left-width   : .1rem;
    border-left-style   : solid;
    
    text-align          : center;
}

.console-window-close-button:hover {
    font-size : 120%;
}

#match-view {
    position : absolute;
    top      : 1.2rem;
    left     : 0;
    width    : 100%;
    height   : calc(100% - 1.2rem);
}
